<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="smtpserver" value="smtp.gmail.com"/> // if using gmail
    <add key="portnumber" value="587"/>
    <add key="emailsender" value="*******yourGmailHere@gmail.com********"/>
    <add key="password" value="********yourPasswordHere*******"/>
    <add key="IsSSL" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
