#graphContainer{
    height: 700px; 
    width: 70%;
    min-width: 310px; 
    margin: 0 auto;
    margin-top: 80px;
}

.welcome{
    margin-top: 50px;
}

#graphCoinTable{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(255,255,255,0.5);
}

.graphLink:hover {
    text-decoration: none;
    cursor: pointer;
}

.graphLink:link{
	color:black;
}

.graphLink:visited{
	color: black;
}