.welcome{
    margin-top: 50px;
}

#graphCoinTable{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    height: 700px;
    margin-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
}

.graphLink:hover {
    text-decoration: none;
}

.graphLink:link{
	color:black;
}

.graphLink:visited{
	color: black;
}