@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Crypto Canuck</h1>
    <div class="ptest">
        <p >  
            Bitcoin[a] (₿) is a cryptocurrency invented in 2008 by an unknown person or group of people using the name
            Satoshi Nakamoto.The currency began use in 2009. when its implementation was released as open-source software.
        </p>
        <p >
            Bitcoin is a decentralized digital currency, without a central bank or single administrator that can be sent 
            from user to user on the peer-to-peer bitcoin network without the need for intermediaries. Transactions are 
            verified by network nodes through cryptography and recorded in a public distributed ledger called a blockchain.
            Bitcoins are created as a reward for a process known as mining. They can be exchanged for other currencies, 
            products, and services.Research produced by the University of Cambridge estimated that in 2017, there were 2.9
            to 5.8 million unique users using a cryptocurrency wallet, most of them using bitcoin.
        </p>
        <p >
            Bitcoin has been criticized for its use in illegal transactions, the large amount of electricity used by 
            miners,price volatility, and thefts from exchanges. Some economists, includingseveral Nobel laureates, have 
            characterized it as a speculative bubble at various times. Bitcoin has also been used as an investment, 
            although several regulatory agencies have issued investor alerts about bitcoin.
        </p>
        <p >
            Ever since Bitcoin was first created by Satoshi Nakamoto in 2009, cryptocurrencies and the technology behind 
            them have been constantly evolving. As adoption has grown, new uses for blockchain technology have been 
            discovered. 
            Today, everything from innovative ticketing solutions to medical information sharing has been revolutionized by
            blockchain technology.One of the largest scale innovations in the blockchain space has been the development of 
            National Bitcoins, a global project intended to distribute regional Bitcoins to the entire global population. 
            With 8 self-sustained economic territories served by 8 separate blockchains, National Bitcoins aims to fulfill
            Satoshi Nakamoto’s vision of Bitcoin as a replacement for digital cash by distributing Bitcoins to the entire 
            population.Today, we are excited to announce that Russia’s National Bitcoin, RUBTC will be listed for trading 
            on Bitcoin.com Exchange. 
        </p>
    </div>
</div>
