@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Crypto Canuck</h1>
    <div class="ptest">
        Crypto Canuck is a website invented in 2021 by a group of Web Designing students of Trios College as a part of their class Project.
        Crypto Canuck is a website which displays 100 different coins  its prices,total volume in 24 hours,market capital and percentage in 24 hours,
        so that it is easy to compare different coins easily.

        <p>
            A currency converter that allows you to choose any crypto currency and the amount of that crypto currency (5 BitCoins). The converter will then 
            output the value of said crypto currency, at that amount, in CAD, USD, EUR. JYP, and GBP. The converter uses up to date prices via API.
        </p>

        The historical price  chart shows data of daily ,weekly and monthly data since Aug 15 2015 to Feb 4 2021 with its price and volume.
        
        <p>
            we offer a weekly newsletter that will contain a graph of the last 7 days of bitcoins changes and will feature a message directly from the owner of CrptoCanuck.
        </p>
     </div>
</div>
