@page
@model IndexModel
@{
    ViewData["Title"] = "Bio page";
}

<div class="bioContainer">
    This website built by classmates in <b ><a href="https://trios-college.ca/" target="_blank" >triOS College </a> London – Ontario – Canada.</h5> <br><br>
   
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/hassan.png" alt="Hassan Abu Hadeer">
        </div>
        <div class="bioDescription ">
            <h5>Hassan Abu Hadeer</h5> 
            <p>
            is a web and mobile development student in triOS College, London Ontario Canada.
            Hassan has over than 15 years of experience in deferent type of organization.
            who have WES evaluated Bachelor of Science Degree, Certificate of Managing Project Baselines 2014,
            Certificate of Training in Professional Project Management Program 2015, Certificate of 
            Training in Estimation Practices for Proposals and Controlled Budgets 2017.<a href="https://www.hassanhadeer.com/" target="_blank" >more .. </a>
           </p>
        </div>
    </div><br>
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/shilpa.png" alt="Shilpa">
        </div>
        <div class="bioDescription ">
            <h5>Shilpa Sreekumar Pillai</h5> 
            <p>
            is a web and mobile development student in triOS college, London, Ontario Canada.
            Shilpa has got almost eight years experienc in deferent types of organization.She has completed
            Bachelor of engineering in Electronics&Communication and which has equalency of Canadian Degree.
           </p><br>
        </div>
    </div><br>
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/noPhoto.png" alt="Bakish">
        </div>
        <div class="bioDescription ">
            <h5>Bakish Panday</h5>
            <p> 
            loves programming, travelling and playing sports. Currently, pursuing the Application development program at Trios College, London. 
            Previously, spent more than 6 years working in hospitality field and developed very strong problem-solving skills including the quick decision. 
           </p>
           <br>
        </div>
    </div><br>
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/razan.png" alt="Razan Hatem">
        </div>
        <div class="bioDescription ">
            <h5>Razan Hatem</h5>
            <p>
            loves biking, drawing, and hiking. 

            also has a passion for technology, so she is studying 

            application development and web design at Trios College. 

            In the past years, she has worked as a draft person, and 

            gained experience in designing. She has a diploma in 

            civil engineering. 
           </p><br>
        </div>
    </div><br>
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/nabil.png" alt="Nabil Chaiekh">
        </div>
        <div class="bioDescription ">
            <h5>Nabil Chaiekh</h5>  
            <p>
               loves to go on safaris and travel. 
               he loves  to play guitar to his dog ( who hates it ) .  
               He is studying  in Trios College  as an Application Developer ( Enterprise Web Specialist ). He has  over 15 years of experience in project sales and supply chain management  for warehouse solutions.
           </p><br>
        </div>
    </div><br>
    <div class="bioTeamDiv" style="min-height: 110px;">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/Rui.png" alt="Rui Teng">
        </div>
        <div class="bioDescription ">
            <h5>Rui Teng</h5>
            <p>
                is a web and mobile development student in triOS College, London Ontario Canada.
                Rui has more than 10 years experience with mobile device development, worked most time android based software engineering,
                who has moved to Canada with his family and wants to become a frontend based software developer <a href="https://ruiteng2021.github.io/myprofile/#/" target="_blank" >more .. </a>
           </p>
        </div>
    </div><br>
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/hassan.png" alt="Hassan Abu Hadeer">
        </div>
        <div class="bioDescription ">
            <h5>Hassan Abu Hadeer</h5> 
            <p>
            is a web and mobile development student in triOS College, London Ontario Canada.
            Hassan has over than 15 years of experience in deferent type of organization.
            who have WES evaluated Bachelor of Science Degree, Certificate of Managing Project Baselines 2014,
            Certificate of Training in Professional Project Management Program 2015, Certificate of 
            Training in Estimation Practices for Proposals and Controlled Budgets 2017.<a href="https://www.hassanhadeer.com/" target="_blank" >more .. </a>
           </p>
        </div>
    </div><br>
    <div class="bioTeamDiv">
        <div class="bioImageDiv">
            <img class="bioImage" src="assets/images/hassan.png" alt="Hassan Abu Hadeer">
        </div>
        <div class="bioDescription ">
            <h5>Hassan Abu Hadeer</h5> 
            <p>
            is a web and mobile development student in triOS College, London Ontario Canada.
            Hassan has over than 15 years of experience in deferent type of organization.
            who have WES evaluated Bachelor of Science Degree, Certificate of Managing Project Baselines 2014,
            Certificate of Training in Professional Project Management Program 2015, Certificate of 
            Training in Estimation Practices for Proposals and Controlled Budgets 2017.<a href="https://www.hassanhadeer.com/" target="_blank" >more .. </a>
           </p>
        </div>
    </div><br>
</div>
