@page
@model IndexModel
@{
    ViewData["Title"] = "Bio page";
}

<div class="text-center">
    <h3 >Welcome to Crypto-Canuck</h3>
    <div class="bioContainer">
         <h3>team 1</h3>
        <div class="bioTeamDiv">
            
        </div>
        <div class="bioTeamDiv">
            
        </div>
        <div class="bioTeamDiv">
            
        </div>
    </div>
    <div>
        <h3 >team 2</h3>
        <div class="bioTeamDiv">
            
        </div>
        <div class="bioTeamDiv">
            
        </div>
        <div class="bioTeamDiv">
            
        </div>
        <div class="bioTeamDiv">
            
        </div>
        <div class="bioTeamDiv">
            
        </div>
    </div>

</div>
