@page
@model CoinGraphModel
@{
    ViewData["Title"] = "Coin Graph";
}

<script type="text/javascript">
    var BTCweekly = "@Model.weeklyOnly";
    var javaScriptAPI = "@Model.javaScriptString";
    var coinName = "@Model.coinName";
</script>

<div id="graphContainer"></div>