@page
@model LearnModel
@{
    ViewData["Title"] = "Learn page";
}

<div class="learnContainer">
    <div id="learnSection1" class="learnSection">
        <h2>
        hello learn section1
        </h2> 
    </div>
    <div id="learnSection2" class="learnSection">
        <h2>
        hello learn section2
        </h2>         
    </div>
    <div id="learnSection3" class="learnSection">
        <h2>
        hello learn section3
        </h2> 
    </div>
</div>
