
@page
@model LearnModel
@{
    ViewData["Title"] = "Learn page";
}

<div class="learnContainer">
  <div id="learnSection1" class="learnSection">
        <div class="learnSubject">
            <h5>Introduction :</h5>
            In This website builds by classmates in <a href="https://trios-college.ca/" target="_blank" >triOS College </a> London , Ontario , Canada.
            To guide the people who are interested in dealing with the Bitcoin and do not have an experience in it. Starting from explaining the meaning of Bitcoin until having it in the wallet. 
            To start it is critical to have secure devices, working legally and having an extra money to be in this risk of winning or loosing.
            <br><br><h5>Research :</h5>
            It is recommended keeping attention to the following points during any research:
            <ul>
                <li>Don’t use one source of conformation</li>
                <li>Don’t believe all the advertisements</li>
                <li>Check other competitors</li>
                <li>Check the reviews</li>
                <li>Check the last update for each interested data source</li>
                <li>Look in to the history</li>
                <li>Check the expectation about the bitcoin</li>
                <li>Read some related news</li>
                <li>Make your own analyses and comparison</li>
                <li>List down your plan, target, strategy and investment duration</li>
            </ul>
        </div>
    </div>
    
    <div id="learnSection2" class="learnSection">
        <div class="learnSubject">
            <h3>start with Bitcoin</h3> 
            <strong>Here are three steps to start using Bitcoin :</strong><br>
            <strong>Choosing a Bitcoin wallet</strong><br>
            First of all to send and receive bitcion you are going to need a bitcion wallet.
            A bitcoin wallet is a device or program that stores your private keys, and allows
            you to interact with the bitcoin blockchain. To send and receive bitcion you need 
            some sort of a program to do so. Receiving bitcoins requires a unique personal address.
            This unique address is called your bitcoin address, and you can share it with anyone who
            wants to send you bitcoins.  Once you have your address the wallet chooses your password 
            randomly for you. This password is called your private key it should never be shared with 
            anyone. it is good  to write it down on a piece of paper or keep it on a flash drive that’s 
            disconnected from the Internet.
            <br>
            <br>
            There are many different wallets across various platforms. While they all share certain basic 
            functionality, features vary from one wallet to the other. Bitcoin wallet programs are 
            available for  mobile phones, desktops, web, and even as a standalone piece of hardware or 
            paper wallets. 
            <br>
            <br>
            <strong>Types of Wallets:</strong>
            Choosing the right wallet is a critical step that shouldn't be taken lightly. It is the most 
            important step in becoming a Bitcoin user.Types of wallets can be divided into 2 main categories :
            <br><strong>Cold Storage:</strong><br>
            The secure way to hold your Bitcoin, known as non-custodial, This means that no one 
            has access to your private key.<br>
            In these category your wallet can be :<br>
            <strong>Hardware wallets :</strong> <br>
            Are physical devices to store your private key that connect to your 
            computer in order to interact with them. can be bought online and will be shipped to 
            your home address.It is recommended  when you need to store a large amount of Bitcoin safely. 
                                
            <div  class= "hardwareImgDiv">
                <img class="hardwareImage"src="assets/learnImages/hardwareImg1.png"alt="photo"> 
                <img class="hardwareImage"src="assets/learnImages/hardwareImg2.png"alt="photo">
                <img class="hardwareImage"src="assets/learnImages/hardwareImg3.png"alt="photo">
            </div>        
            <div>
                Here is some recommended Hardware wallet that you can go through :
            </div>        
            <div class="hardwareWallets">
                <div class="hardwareWalletsDiv">
                        <img class="learnImage"src="assets/learnImages/ledgerLogo.png" alt="logo">
                        <br>
                        <strong>Ledger</strong> <br>
                         <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span><br>
                        <a href="https://www.ledger.com/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
                </div>
                <div class="hardwareWalletsDiv">
                        <img class="learnImage"src="assets/learnImages/trezorLogo.png" alt="logo">
                        <br>
                        <strong>Trezor</strong> <br>
                         <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span><br>
                        <a href="https://shop.trezor.io/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
                </div>
                <div class="hardwareWalletsDiv">
                        <img class="learnImage"src="assets/learnImages/ellipalLogo.png" alt="logo">
                        <br>
                        <strong>Ellipal</strong> <br>
                           <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span><br>
                        <a href="https://www.ellipal.com//" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
                </div>
                <div class="hardwareWalletsDiv">
                    <img class="learnImage"src="assets/learnImages/coolwalletLogo.png" alt="logo">
                    <br>
                    <strong>Coolwallet</strong> <br>
                       <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span><br>
                    <a href="https://www.coolwallet.io/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
                </div>
            </div>
        
        </div>
        <div>
            <strong>Paper wallets :</strong><br>
            Are unsafe method of storing bitcoin  It works by having a single private key and bitcoin address 
            onto paper  This method has a large number of downsides and not recommended to be used . 
            risks associated with losing, misreading, or damaging the paper wallet may outweigh the potential 
            security benefits.
        </div>
        
        <div class = "paperImgDiv">
            <img class="paperImage"src="assets/learnImages/paperImg1.png"alt="photo"> 
            <img class="paperImage"src="assets/learnImages/paperImg2.png"alt="photo">
            <img class="paperImage"src="assets/learnImages/paperImg3.png"alt="photo">
        </div>    
        <div>
            <h5>Hot Storage :</h5>
                Are a tool that allows a cryptocurrency owner to receive and send tokens. 
                While being the most popular  type of wallet, are also the least secure because they allow 
                access to their inner workings through Internet connections. And as  we all know today is 
                hard to be 100% protected, and most of us are  a valuable target for hackers, so a small amount 
                of Bitcoin would be more suitable for these types of wallet. <br>
                In these category your wallet can be : <br>

        </div>
        <br>
        <div>
            <strong>Desktop wallets : </strong><br>
            Can be download for free from the Internet, that store your private key on your computer.
            your Bitcoins are safe As long as your computer is free of any security weaknesses.     
            <br>
            Here is some recommended Desktop wallet that you can go through :
        </div>
        <div class="desktopWalletImagesDiv">
            <div class="desktopWalletImages">
                <strong>Bitcoin Core</strong><br>
                <img class="learnImage"src="assets/learnImages/bitcoinCoreLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span><br>
                <a href="https://www.exodus.io/" target="_blank" rel="nofollow" tabindex="0">Visit website</a> 
            </div>
            <div class="desktopWalletImages">
                <strong>Exodus</strong><br>
                <img class="learnImage"src="assets/learnImages/exodusLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span><br>
                <a href="https://www.exodus.io/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>
            <div class="desktopWalletImages">
                <strong>Electrum</strong> <br>
                <img class="learnImage"src="assets/learnImages/electrumLogo.png" alt="logo"><br>
                  <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span><br>
                <a href="https://electrum.org/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>
            <div class="desktopWalletImages">
                <strong>Armory</strong> <br>
                <img class="learnImage"src="assets/learnImages/armoryLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span><br>                
                <a href="https://www.bitcoinarmory.com/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>
        </div>
        <br>
        <div>
            <strong>Mobile wallets : </strong><br>
            Can be download as an app. for free from the Internet in your Smartphone.  As phones are frequently lost, 
            broken, or stolen, it’s strongly advised that you enable two-factor authentication, password-protect your wallet, 
            and create a private key backup.      
            <br>
            Here is some recommended Mobile wallet that you can go through :
        </div>          
        <div class="mobileWalletImagesDiv">
            <div class="mobileWalletImages">
                <strong>Trust Wallet</strong> <br>
                <img class="learnImage"src="assets/learnImages/trustWalletLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span><br>
                <a href="https://edge.app//" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>
            <div class="mobileWalletImages">
                <strong>Edge</strong><br>
                <img class="learnImage"src="assets/learnImages/edgeLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span><br>
                <a href="https://edge.app//" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>
            <div class="mobileWalletImages">
                <strong>Mycelium</strong><br>
                <img class="learnImage"src="assets/learnImages/myceliumLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span><br>
                <a href="https://wallet.mycelium.com//" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>
            <div class="mobileWalletImages">
                <strong>Cryptonator</strong><br>
                <img class="learnImage"src="assets/learnImages/cryptonatorLogo.png" alt="logo"><br>
                   <h6>Star Rating</h6>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span><br>
                <a href="https://www.cryptonator.com/" target="_blank" rel="nofollow" tabindex="0">Visit website</a>
            </div>            
        </div>
        <div>
            <strong>Web wallets : </strong><br>
            You'll be requested  to sign up to a specific service and to deposit funds into their online hot wallets in order to 
            conduct your business. Web wallet services will provide  two-factor authentication options, such as validating every 
            account login with a text message, to guard against external hackers. These web wallets are the least secure option 
            for storing bitcoins because the operators own the private key to the bitcoins stored on their site.      
        </div>
    </div>

    <div id="learnSection3" class="learnSection">
        <div class="learnSubject">
        <h5>Trezor wallet:</h5>
            <ol>
                <li>
                    Get the wallet and make sure the hologram seals on the box are authentic. If the hologram seals are missing or look different, contact immediately Trezor support to provide all the information.  Trezor will analyze them and will get back to you. We do not recommend to use the device in the meantime.
                    The hologram seals are only on the box, not on the device itself.

                </li>
                <li>
                    Visit <a href="https://trezor.io/start/" target="_blank">Trezor</a> to setup your wallet
                </li>
                <li>
                    Connect your device then go to check for devices
                </li>
                <li>
                    Install <a href="https://wiki.trezor.io/Trezor_Bridge" target="_blank">Trezor Bridge</a>.
                </li>
                <li>
                    Don’t close the web page
                </li>
                <li>
                    Installing Firmware
                </li>
                <li>
                    Disconnect the device and reconnect it
                </li>
                <li>
                    You will receive 2 options (create a new wallet, recover an existing wallet) note “to recover an existing wallet you need to use your recovery seed (single backup) to recover an existing wallet”
                </li>
                <li>
                    Select create the wallet,Create your backup Before creating a backup, Some steps you have to avoid:
                    <ul>
                        <li>Do not take a photo of your recovery seed.</li>
                        <li>Do not store it on a computer</li>
                        <li>Do not save it in your cloud storage</li>
                        <li>Never upload it to the Internet</li>
                    </ul>
                </li>
                <li>
                    Mark, I understand and agree then continue
                </li>
                <li>
                    Write down your recovery seed
                    <ul>
                        <li>On your Trezor, you will now see a unique combination of 12/18/24 words. This will allow you to recover your funds in case you lose your device. The order of the words is very important.</li>
                        <li>Please write down all these words carefully.</li>
                    </ul>
                </li>
                <li>
                    Enter a new PIN,for your Trezor Choose a strong PIN to protect your device from unauthorized access.<br>
                    The layout will be displayed on your Trezor
                </li>
                <li>
                    Name your device You may now choose a name for your Trezor. A unique name will help you to recognize your device, and it is super cool!
                </li>
                <li>
                    Bookmark in browser to Protect yourself against phishing attacks. Bookmark Trezor Wallet (wallet.trezor.io) to avoid visiting fake sites. Use the keyboard shortcut Ctrl + D.
                </li>

            </ol>
                Awesome, you are all set!<br>
            Your Trezor is ready to go! Just remember to keep your backup, the recovery seed, in a safe place.<br>
        </div>
    </div>

    <div id="learnSection4" class="learnSection">
        <div class="learnSubject">
            <h5>Use the wallet :</h5>
            <ul>
                <li>After selecting the exchange website, you need to create an account and verify it. Funds can be add by using e-transfer, Visa or Mastercard ..etc.</li>
                <li>Select Bitcoin and convert the funds from $ to Bitcoin. converting funds will never mean that it is in safe place without using a wallet .</li>
                <li>Connect Trazor wallet to the device and login in to <a href="https://suite.trezor.io/" target="_blank">Trazor Suite</a> using bin number.</li>
                <li>From the receiving section in Trazor Suite copy the receiving address in to clipboard (make sure that you copy it correctly, fund will be send to this address ) .</li>
                <li>Log in to the exchange website, from send select the amount or max to get all the funds and paste the receiving address then continue . </li>
                <li>Now funds safe in the wallet and everything done .</li>
                <li>Funds can be back in to the exchange website by using receiving address from the exchange website and sending from the digital wallet.</li>
                <li>To get it back to the bank account must be converted from Bitcoin to $ then send by using e-transfer.</li>
            </ul>
        </div>
    </div>
</div>