@page
@model LinksModel
@{
    ViewData["Title"] = "Links page";
}

<div class="linksContainer">
    <div id="linksSection1" class="linksSection">
        <h2>
        hello Links section1
        </h2> 
    </div>
    <div id="linksSection2" class="linksSection">
        <h2>
        hello Links section2
        </h2>         
    </div>
    <div id="linksSection3" class="linksSection">
        <h2>
        hello Links section3
        </h2> 
    </div>
</div>