@page
@model LinksModel
@{
    ViewData["Title"] = "Links page";
}

<div class="linksContainer">

    <div id="linksSection1" class="linksSection">
        <div class="linkSubject">
            <h4>Some Trusted Cryptocurrency Exchange websites </h4>
            <table class="linksTable">
            <tr>
                <th>Name</th>
                <th>Website</th> 
                <th>Fees</th>
            </tr>
            <tr>
                <td>Bitbuy</td>
                <td><a href="https://bitbuy.ca/" target="_blank">www.bitbuy.ca</a> </td>
                <td>0.16% </td>
            </tr>
            <tr>
                <td>Coinberry</td>
                <td><a href="https://coinberry.com/" target="_blank">coinberry.com</a></td>
                <td>0.5% </td>
            </tr>
            <tr>
                <td>Ndax</td>
                <td><a href="https://ndax.io/" target="_blank">www.ndax.io</a></td>
                <td>0.2% </td>
            </tr>
            <tr>
                <td>Binance</td>
                <td><a href="https://binance.com/" target="_blank">www.binance.com</a></td> 
                <td>0.1%</td>
            </tr>
            <tr>
                <td>Coinsmart</td>
                <td><a href="https://coinsmart.com/" target="_blank">www.coinsmart.com</a></td>
                <td>0.3%</td>
            </tr>
            <tr>
                <td>MyBTC.ca</td>
                <td><a href="https://mybtc.ca/" target="_blank">www.mybtc.ca</a></td>
                <td>7.75%</td>
            </tr>
            <tr>
                <td>Kraken</td>
                <td><a href="https://kraken.com/" target="_blank">www.kraken.com</a></td>
                <td>0.26%</td>
            </tr>
            <tr>
                <td>Coinbase</td>
                <td><a href="https://coinbase.com/" target="_blank">www.coinbase.com</a></td>
                <td>4%</td>
            </tr>
                <tr>
                <td>Shakepay</td>
                <td><a href="https://shakepay.co/" target="_blank">www.shakepay.co</a></td>
                <td>0.75%</td>
            </tr>
            <tr>
                <td>Bittrex</td>
                <td><a href="https://bittrex.com/" target="_blank">www.bittrex.com</a></td>
                <td>0.25% </td>
            </tr>
            </table>

        </div>
    </div><br><br><br>

    <div id="linksSection2" class="linksSection">
        <div class="linkSubject">
            <p>
            <b>Crypto Wallets  :</b><br>
            <table class="linksTable">
                <tr>
                    <th>Name</th>
                    <th>Website</th> 
                </tr>
                <tr>
                    <td>Coinbase</td>
                    <td><a href="https://bit.ly/3sZTPi2" target="_blank">www.coinbase.com</a> </td>
                </tr>
                <tr>
                    <td>Nominex</td>
                    <td><a href="https://bit.ly/3qUHudt" target="_blank">www.nominex.io</a> </td>
                </tr>
                <tr>
                    <td>Binance chain (BNB)</td>
                    <td><a href="https://bit.ly/39ofKYK" target="_blank">www.binance.com</a> </td>
                </tr>
                <tr>
                    <td>Paxful wallet</td>
                    <td><a href="https://bit.ly/3pmpsjS" target="_blank">www.paxful.com</a> </td>
                </tr>
                <tr>
                    <td>Exodus</td>
                    <td><a href="https://bit.ly/3przGQ2" target="_blank">www.exodus.io</a> </td>
                </tr>
                <tr>
                    <td>Electrum</td>
                    <td><a href="https://bit.ly/36yhYD5" target="_blank">www.electrum.org</a> </td>
                </tr>
                <tr>
                    <td>Ledger</td>
                    <td><a href="https://www.ledger.com/" target="_blank">www.ledger.com</a> </td>
                </tr>
                <tr>
                    <td>Trezor</td>
                    <td><a href="https://shop.trezor.io/" target="_blank">www.trezor.io</a> </td>
                </tr>
                <tr>
                    <td>Edge</td>
                    <td><a href="https://edge.app//" target="_blank">www.edge.app</a> </td>
                </tr>
                <tr>
                    <td>Cryptonator</td>
                    <td><a href="https://www.cryptonator.com/" target="_blank">www.cryptonator.com</a> </td>
                </tr>
            </table><br>
         </div>
         <br>
        <div class="youtubeContainer">
            <iframe src="https://www.youtube.com/embed/VMQuPKgRV9c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div><br>


    <div id="linksSection3" class="linksSection">
        <div class="linkSubject">
        <b>Bitcoin ATMs in Canada</b><br>
            <a href="https://coinatmradar.com/country/38/bitcoin-atm-canada/" target="_blank">Some ATMs in Canada</a><br>
        </div>
    </div>
    <div id="linksSection4" class="linksSection">
        <div class="linkSubject">
        <b>Some Bitcoin Miner Pool</b><br>
            <a href="https://www.microsoft.com/en-ca/p/bitcoin-miner-pool/9n9hqw7wtrdr?activetab=pivot:overviewtab" target="_blank">Get Bitcoin Miner Pool </a><br>
            <a href="https://slushpool.com/home/" target="_blank">Slushpool </a><br>
            <a href="https://pool.btc.com/" target="_blank">BTC.com</a><br>
            <a href="https://www.f2pool.com/" target="_blank">f2pool</a><br>
            <a href="https://www.viabtc.com/" target="_blank">Viabtc</a><br>
            <a href="https://v3.antpool.com/home" target="_blank">Antpool</a><br>

        </div>
    </div>
    <div id="linksSection5" class="linksSection">
        <div class="linkSubject">
        <b>Tutorials  :</b><br>
            <a href="assets/historyPhotos/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System By Satoshi Nakamoto</a> PDF file<br>
            <a href="https://www.youtube.com/embed/7maNVTM8B1E" target="_blank"> How to send and receive bitcoins </a><br>
            <a href="https://www.youtube.com/embed/BODyqM-V71E" target="_blank"> Bitcoin Mining </a><br>
            <a href="https://www.youtube.com/embed/tuUO-Q4_b5c" target="_blank"> Bay bitcoins</a><br>
            <a href="https://www.youtube.com/watch?v=Gc2en3nHxA4&feature=youtu.be" target="_blank"> What is Bitcoin in 1 Minute</a><br>
            <a href="https://bitcoin.org/en/vocabulary" target="_blank">Some Bitcoin Words you like to hear</a><br>
            
        </div>
    </div>
</div>